<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <!-- Link to your favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="aifchan.github.io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="aifchan.github.io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="aifchan.github.io/favicon-16x16.png">
    <link rel="manifest" href="aifchan.github.io/site.webmanifest">
    <link rel="mask-icon" href="aifchan.github.io/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- Add any other necessary meta tags or stylesheets here -->
</head>
<body>
    {{ content }}
</body>
</html>
